body {
    background-color: rgb(84, 110, 122);

    -webkit-animation: fade 2s;
    -moz-animation: fade 2s;
    -ms-animation: fade 2s;
    -o-animation: fade 2s;
    animation: fade 2s;
}

@keyframes fade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

p {
    color: rgb(255, 255, 255);
}

button {
    margin: auto;
    display: block;
    border-radius: 5px;
    background-color: rgb(51, 51, 51);
    border: 2px solid rgb(84, 110, 122);
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    transition: 0.4s;
    margin-bottom: 2px;
}

button:hover {
    margin: auto;
    display: block;
    color: black;
    background-color: white;
    border: 2px solid rgb(84, 110, 122);
    margin-bottom: 2px;
}

#buttons {
    display: inline-block;
}

.avatar {
    border-radius: 20%;
}

.invisibleSeparator {
    color: rgb(84, 110, 122);
    margin: 0;
    border: 0;
}

.links {
    padding: 10px;
    display: flex;
    position: center;
    align-items: space-around;
    justify-content:center;
}

.links a {
    margin: 10px;
    font-size: 2rem;
    text-align:center;
    display: inline-block;
    color: var(--main-fonts-color);
}

.links a i {
    cursor: pointer;
}

.links a:hover {
    color: var(--main-decor-color);
    text-shadow: 0 0 50px var(--main-decor-color);
}

.donationText {
    font-size: 120%;
    margin: 5;
}

.sideBar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333333;
  overflow-x: hidden;
  padding-top: 10px;
}

.sideBar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #d1d1d1;
  display: block;
}

.sideBar a:hover {
  color: #f1f1f1;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media screen and (max-width: 500px) {
  .sideBar a {font-size: 10px;}
}

